h1{
    color: #03045e;
}

a:link, a:visited{
    background-color: #0077b6;
    color: #fff;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
}

a:hover, a:active{
    background-color: #00b4d8;
}